<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="icon" type="image/png" th:href="@{/images/reddit.png}">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.6.0/font/bootstrap-icons.min.css"
        integrity="sha512-7w04XesEFaoeeKX0oxkwayDboZB/+AKNF5IUE50fCUDUywLvDN4gv2513TLQS+RDenAeHEK3O40jZZVrkpnWWw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>

<body>
    <div th:fragment="header" class="d-flex align-items-center" style="background-color: white;">
        <a class="navbar-brand" href="/">
            <img class="img-responsive" th:src="@{/images/reddit_logo.png}" width="80px" height="45px"
                alt="Reddit Logo" />
        </a>
        <form action="/search" method="get" class="d-flex my-2 flex-grow-1 mx-3">
            <input name="search" th:value="${keyword != null ? keyword : ''}" class="form-control me-2" type="search"
                placeholder="Search" aria-label="Search">
        </form>
        <div sec:authorize="isAuthenticated()" class="d-flex">
            <button class="btn btn-outline-secondary" onclick="location.href='/'">
                <i class="bi bi-list"></i>
            </button>
            <button class="btn btn-outline-secondary mx-1" onclick="location.href='/createSubreddit'">
                <i class="bi bi-collection"></i>
            </button>
            <button class="btn btn-outline-success mx-1" onclick="location.href='/popular'">
                <i class="bi bi-arrow-up-right"></i>
            </button>
            <button class="btn btn-outline-secondary mx-1" onclick="location.href='/viewCreatePostPage'">
                <i class="bi bi-plus-lg"></i>
            </button>
            <button class="btn btn-outline-primary d-flex mx-2" onclick="location.href='/viewProfile'">
                <i class="bi bi-person"></i>
                <div sec:authentication="name"></div>
            </button>
            <button class="btn btn-outline-danger mx-2" onclick="location.href='/logout'">
                <i class="bi bi-box-arrow-right"></i>
            </button>
        </div>
        <div sec:authorize="isAnonymous()">
            <button class="btn btn-outline-primary rounded-pill px-lg-5" type="button"
                onclick="window.location.href='/login'">Login</button>
            <button class="btn btn-primary rounded-pill px-lg-5 mx-4" type="button"
                onclick="window.location.href='/register'">Register</button>
        </div>
    </div>
</body>

</html>