<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <link rel="stylesheet" href="/css/trending.css">
</head>

<body>
    <div th:fragment="trending" class="trending">
        <span class="trending-title">Trending Posts</span>
        <div class="d-flex">
            <div class="trending-post-box" id="trending-1">
                <div class="trending-box-title">
                    this is post title
                </div>
                <div class="trending-post-community">
                    r/community and more
                </div>
            </div>
            <div class="trending-post-box" id="trending-1">
                <div class="trending-box-title">
                    this is post title
                </div>
                <div class="trending-post-community">
                    r/community and more
                </div>
            </div>
            <div class="trending-post-box" id="trending-1">
                <div class="trending-box-title">
                    this is post title
                </div>
                <div class="trending-post-community">
                    r/community and more
                </div>
            </div>
            <div class="trending-post-box" id="trending-1">
                <div class="trending-box-title">
                    this is post title
                </div>
                <div class="trending-post-community">
                    r/community and more
                </div>
            </div>
          
        </div>

    </div>
</body>

</html>