<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <link rel="stylesheet" href="/css/trending.css">
</head>

<body>
    <div th:fragment="trending" class="trending" th:if="${subReddit == null}">
        <span class="trending-title">Trending Posts</span>
        <div class="trending-post-container">
            <div class="trending-post-box" th:each="trendingPost : ${trendingPosts}">
                <div class="trending-box-title" th:text="${trendingPost.title}"></div>
                <a class="trending-box-link" th:text="${trendingPost.link}" th:href="${trendingPost.link}" target="_blank"></a>
                <div class="trending-box-date" th:text="${trendingPost.updatedAt}"></div>
            </div>
        </div>
    </div>
</body>

</html>