body {
	background-color: #dae0e6;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.container > article {
	width: 70%;
}

.new-post {
	width: stretch;
	height: 8vh;
	margin: 1vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid #a8a8a8;
	border-radius: 3px;
	background-color: #fff;
}

.new-post > img {
	width: 5vh;
	height: 5vh;
	margin-left: 1vh;
}

.new-post-input {
	flex: 1;
	margin: 0 1vw;
	background-color: rgb(0 0 0 / 8%);
	border: none;
	outline: none;
	padding: 6px;
	border-radius: 3px;
}

.container > aside {
	width: 28%;
}

aside {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-auto-flow: row;
}

.votes-div {
	padding: 1vh 0;
	text-align: center;
	background-color: #f7f9fa;
}

.count-vote {
	font-size: 20px;
	font-weight: bold;
}

.sorting {
	background-color: #f0f0f0;
	padding: 1vh;
	margin: 1vh;
	display: grid;
	grid-auto-flow: column;
	gap: 1vh;
	justify-items: start;
	align-items: center;
	grid-template-columns: repeat(9, 1fr);
}

.sort-tab-block {
	border: 1px solid #a8a8a8;
	cursor: pointer;
	padding: 2px 1vw;
	border-radius: 99px;
	position: relative;
}

.top-drop-list {
	display: none;
}

.sort-tab-block:hover .top-drop-list {
	display: flex;
	top: 4vh;
	position: absolute;
	flex-direction: column;
	z-index: 10;
	background: white;
	border-radius: 5px;
	width: max-content;
	box-shadow: 0px 0px 5px #a8a8a8;
}

.top-drop-list a {
	text-decoration: none;
	color: black;
	border-bottom: 1px solid #a8a8a8;
	padding: 1vh;
}

.top-drop-list a:hover {
	background-color: #f0f0f0;
}

.btn-vote {
	outline: none;
	border: none;
	background-color: transparent;
	font-size: x-large;
}

.posts-box {
	display: flex;
	margin: 1vh;
	margin-bottom: 3vh;
	border: 1px solid #a8a8a8;
	min-height: 40vh;
	border-radius: 5px;
	overflow: hidden;
}

.post-container {
	width: 100%;
	background: white;
	padding: 2vh;
}

.post-title {
	font-size: 30px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	margin-bottom: 1vh;
}

.post-content{
	font-family: 'Courier New', Courier, monospace;
	white-space: pre-wrap;
}