.trending {
	margin: 3vh 20vh;
	margin-bottom: -8vh;
}

.trending-title {
	font-size: 2.5vh;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.trending-post-box {
	border: 1px solid #ccc;
	height: 30vh;
	width: 35vh;
	margin: 2vh;
	border-radius: 5px;
	padding: 2vh;
}
