<!DOCTYPE html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit</title>
    <link rel="icon" type="image/png" href="./../static/images/reddit.png" th:href="@{/images/reddit.png}">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.6.0/font/bootstrap-icons.min.css"
        integrity="sha512-7w04XesEFaoeeKX0oxkwayDboZB/+AKNF5IUE50fCUDUywLvDN4gv2513TLQS+RDenAeHEK3O40jZZVrkpnWWw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/trending.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="stylesheet" href="/css/sub_reddit.css">
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <div sec:authorize="isAnonymous()" th:replace="fragments/trending :: trending"></div>
    <div class="subreddit-community" th:if="${subReddit != null}">
        <div class="sub-reddit-comm-body">
            <span class="sub-reddit-comm-title" th:inline="text">
                Subreddit Name : [[${subReddit.name}]]
                <div class="sub-reddit-comm-karma">
                    Karma
                    <span th:text="${karma}"></span>
                </div>
                <div class="sub-reddit-comm-date">
                    [[${#dates.format(subReddit.createdAt, 'MMM dd, yyyy h:mm a')}]]
                </div>
            </span>
            <div>
                <th:block th:if="${isSubscribed}">
                    <form th:action="@{/unsubscribe}" method="get">
                        <input type="hidden" th:value="${subReddit.id}" name="id">
                        <button class="btn btn-primary btn-comm-join" type="submit">Joined</button>
                    </form>
                </th:block>
                <th:block th:if="${!isSubscribed}">
                    <form th:action="@{/subscribe}" method="get">
                        <input type="hidden" th:value="${subReddit.id}" name="id">
                        <button class="btn btn-outline-primary btn-comm-join" type="submit">Join</button>
                    </form>
                </th:block>
            </div>
        </div>
    </div>
    <div class="container">
        <article>
            <div class="new-post" sec:authorize="isAuthenticated()">
                <img th:src="@{/images/reddit-logo.png}" alt="logo" onclick="location.href='/viewProfile'">
                <input class="new-post-input" type="text" placeholder="Create Post"
                    onclick="location.href='/viewCreatePostPage'">
                <button class="btn" onclick="location.href='/viewCreatePostPage'">
                    <i class="bi bi-image"></i>
                </button>
                <button class="btn  mx-2" onclick="location.href='/viewCreatePostPage'">
                    <i class="bi bi-link-45deg"></i>
                </button>
            </div>


            <p class="fw-bolder mb-1 mx-2"><b>Posts</b></p>
            <div class="sorting">
                <th:block th:if="${subReddit != null}">
                    <div class="sort-tab-block">
                        <a th:href="@{'/new/'+${subReddit.id}}" style="text-decoration: none; color: black;">New</a>
                    </div>
                    <div class="sort-tab-block">
                        Top
                        <div class="top-drop-list">
                            <a th:href="@{'/top/t=day/'+${subReddit.id}}">Today</a>
                            <a th:href="@{'/top/t=week/'+${subReddit.id}}">This Week</a>
                            <a th:href="@{'/top/t=month/'+${subReddit.id}}">This Month</a>
                            <a th:href="@{'/top/t=year/'+${subReddit.id}}">This Year</a>
                        </div>
                    </div>
                </th:block>

                <th:block th:if="${subReddit == null}">
                    <div class="sort-tab-block" onclick="location.href='/new'">New</div>
                    <div class="sort-tab-block">
                        Top
                        <div class="top-drop-list">
                            <a href="/top/t=day">Today</a>
                            <a href="/top/t=week">This Week</a>
                            <a href="/top/t=month">This Month</a>
                            <a href="/top/t=year">This Year</a>
                        </div>
                    </div>
                </th:block>
            </div>
            <!-- Content-->
            <th:block th:each="post : ${posts}">
                <div class="posts-box">
                    <div class="votes-div">
                        <form action="/vote" method="get">
                            <input type="hidden" name="postId" th:value="${post.id}" />
                            <input type="hidden" name="upVote" value="true" />
                            <input type="hidden" name="isHomePage" th:value="${subReddit} != null" />
                            <!-- vote up not fill -->
                            <th:block
                                th:if="${!userExist or !votes.containsKey(post.id) or !votes.get(post.id).containsKey(user.id) or !votes.get(post.id).get(user.id).upVoted }">
                                <button type="submit" class="btn-vote">
                                    <i class="bi bi-arrow-up-circle"></i>
                                </button>
                            </th:block>
                            <!-- vote up fill -->
                            <th:block
                                th:if="${userExist and votes.containsKey(post.id)}  and ${votes.get(post.id).containsKey(user.id)}  and ${votes.get(post.id).get(user.id).upVoted} ">
                                <button type="submit" class="btn-vote">
                                    <i class="bi bi-arrow-up-circle-fill"></i>
                                </button>
                            </th:block>
                        </form>
                        <span class="count-vote">[[${post.voteCount}]]</span>
                        <form action="/vote" method="get">
                            <input type="hidden" name="postId" th:value="${post.id}" />
                            <input type="hidden" name="downVote" value="true" />
                            <input type="hidden" name="isHomePage" th:value="${subReddit} != null" />
                            <!-- vote down not fill -->
                            <th:block
                                th:if="${!userExist or !votes.containsKey(post.id)} or ${!votes.get(post.id).containsKey(user.id)} or ${!votes.get(post.id).get(user.id).downVoted}">
                                <button type="submit" class="btn-vote">
                                    <i class="bi bi-arrow-down-circle"></i>
                                </button>
                            </th:block>
                            <!-- vote down fill -->
                            <th:block
                                th:if="${userExist and votes.containsKey(post.id)} and ${votes.get(post.id).containsKey(user.id)} and  ${votes.get(post.id).get(user.id).downVoted}">
                                <button type="submit" class="btn-vote">
                                    <i class="bi bi-arrow-down-circle-fill"></i>
                                </button>
                            </th:block>
                        </form>
                    </div>
                    <div class="post-container" th:onclick="'redirectPost(' + ${post.id} + ')'">
                        <div class="post-title" th:text="${post.title}" th:field="${post.title}"></div>
                        <div class="post-body">
                            <p class="post-content" th:text="${#strings.abbreviate(post.content,100)}"></p>
                            <p class="post-date">
                                Posted At : [[${#dates.format(post.createdAt, 'MMM dd, yyyy h:mm a')}]]
                            </p>
                        </div>
                    </div>
                </div>
            </th:block>
            <div th:if="postsLength == 0">
                No post is available
            </div>
        </article>
        <aside>
            <!-- Search widget-->
            <div class="about-community" th:if="${subReddit != null}">
                <div class="community-header">About Community</div>
                <div class="community-body">
                    <p th:text="${subReddit.description}"></p>
                    <div class="community-created">
                        Created [[${#dates.format(subReddit.createdAt, 'MMM dd, yyyy h:mm a')}]]
                    </div>
                    <button class="btn btn-success rounded-pill w-75 m-2"
                        onclick="location.href='/viewCreatePostPage'">Create
                        Post</button>
                </div>
            </div>
            <!-- Subreddits List-->
            <div class="subreddit-box">
                <div class="subreddit-header">Subreddits</div>
                <div class="subreddit-body">
                    <div th:each="subreddit : ${subreddits}" class="subreddit-body-row">
                        <i class="bi bi-people-fill fa-2x"></i>
                        <a th:href="'/reddit/'+${subreddit.id}" th:text="${subreddit.name}"></a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <script>
        function redirectPost(postId) {
            location.href = "/viewPost/" + postId;
        }
    </script>
</body>

</html>